/* Homepage.css */

/* Center the content vertically and horizontally */
.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a more natural font */
    background-color: #d3e0dc; /* Soft green background color resembling grass */
    color: #333; /* Dark text color */
    font-size: 24px; /* Larger font size for better readability */
  }
  